#app {
    @apply w-full text-center block justify-center bg-gray-700 h-full;
}

.dog-ear {
    @apply rounded-tr-md rounded-b-md;
}

html, body {
    @apply h-auto flex flex-grow min-h-full;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}